/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", sans-serif;
}

/* header style */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

/* common shared css */
.btn-primary{
    color: #fff;
    font-size: 20px;
    font-weight: 600; 
    background-color: #ff900e;
    border: 0px;
    border-radius: 8px;
    padding: 20px 24px;
    margin-bottom: 20px;
}
.text-light-gray{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}
.section-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700px;
}

/* nav style */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;

}
ul li {
    list-style: none;
    margin-right: 30px;
}
li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/* banner styles */

.banner-content{
    max-width: 865px;
    text-align: center;
    margin: 0px auto;
    
}
.banner-title{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 10px;
}
.banner img{
    width: 100%;
}

/* main style */
main{
    max-width: 1440px ;
    margin: 0 auto;
}

/* team container style */
.team-container{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.teams-content{
    padding-left: 75px;
    padding-right: 75px;
    text-align: justify;
}
.teams-title{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
    width: 70%;
    margin-bottom: 5px;
}
.teams-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-title .text-feature{
    color:#FF900E ;
}

/* facts section */
.facts-info{
    width: 40%;
    margin-top: 1px;
}
.facts-title{
    margin-bottom: 5px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px 25px;
}
.facts-card-container .card-stats{
    color:#424242;
    font-size: 45px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 1px;
}
.facts-card-container .card-title{
    color: #727272;
    font-size: 20px;
    font-weight: 600;
    margin-top: 1px;
}
/* sponsors styles */
.sponsors{
    text-align: center;
}
.sponsors-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;

}
.sponsors-img-container img{
    width: 165px;

}

/* responsive media queries */
/* mobile device */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .team-container{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
   .teams-title{
    width: 85%;
   }
   .teams-content{
    padding-right: 20px;
    padding-left: 20px;
   }
  .facts-card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  } 
  .facts-info{
    width: 100%;
  }
  .sponsors-img-container{
    flex-direction: column;
    align-items: center;
  }

}

/* tablet or medium device */

@media  screen and (min-width:576px) and (max-width:992px) {
    header{
        padding:50px ;
    }
    nav,
    .team-container{
        flex-direction: column;
    }
    .teams-title{
        width: 80%;
    }
    .facts-info{
        width: 100%;
    } 
    .sponsors-img-container{
        flex-direction: column;
        align-items: center;
      }  
}